.genders{
    /* background-color: black; */
    /* color: aliceblue; */
    display: grid;
    grid-template-columns: 33% 33% 34%;
    width: 220px;
    height: 100px;
    align-items: center;

}

.male,.female,.other{
    grid-gap: 2rem;
}

.p{
    display: grid;
    grid-template-columns: 50% 50%;
}

.p1,.p2{
    line-height: 2rem;
}

.dob{
    width: 164px;
}

h1{
    font-family: "Gupter";
    font-size: 55px;
    font-weight: 500;
    font-variant: small-caps;
}
h2{
    font-family:"Roboto slab";
    text-transform: uppercase;
}
/* Education section */
 /* .education{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1300px;
    height: 400px;
    align-items: center;
    box-shadow: 0 0 10px #071952;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5rem;
    gap: 30px;
} */

.education{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.school,.college{
    line-height: 3rem;
    /* border: 2px solid black; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

/* Experience */
.experience{
    line-height: 4rem;
    border: 2px solid #071952;
    box-shadow: 0 0 10px;
    padding:4REM ;
    border-radius: 25px;
    text-align: center;
}

input{ 
    outline:none;
    padding: 3px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

button{
    background-color: none;
    /* border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    padding: 0.2rem;

}

button:hover{
    background-color: green;
    color: white;
}